*{
    margin: 0;
    padding:0


}
nav{
    background-color:black;
    color:white;
    padding:20px

}
li,h1,ul{
    display:inline;
    

}
ul{
    margin-left: 60%;
    
}
li{
    color:grey

}
li:hover{
    color:beige

}
input{
    width:60%;
    padding:15px
    
}
.search{
    padding:20px;
    text-align:center ;
    
}
.box{
    border-color: black;
    border-width:3px ;
    border-style:solid ;
    width:220px;
    display:inline-block;
    margin: 50px;
    text-align:center;
    padding:20px
    
}
.box:hover{
    background-color: black;
    color:white
}
.about{
    text-align:center;
    margin-top: 20px;
    padding:30px

}
.contact{
    text-align:center;
    background-color: black;
    color:azure
}